@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

header {
  background-color: rgba(255, 255, 255, 0.863);
  display: flex;
  gap: 50px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo {
  width: 100px;
}

h1 {
  background-color: rgb(27, 26, 26);
  color: white;
  text-align: center;
  margin: 10px;
  padding: 30px;
}

.animado {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animado__ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.animado__list {
  list-style: none;
  color: #484848;
  font-size: 40px;
  letter-spacing: 15px;
  animation: iluminar 1.4s linear infinite;
}

@keyframes iluminar {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}
ul li:nth-child(1) {
  animation-delay: 0s;
}

ul li:nth-child(2) {
  animation-delay: 0.1s;
}

ul li:nth-child(3) {
  animation-delay: 0.2s;
}

ul li:nth-child(4) {
  animation-delay: 0.3s;
}

ul li:nth-child(5) {
  animation-delay: 0.4s;
}

ul li:nth-child(6) {
  animation-delay: 0.5s;
}

ul li:nth-child(7) {
  animation-delay: 0.6s;
}

ul li:nth-child(8) {
  animation-delay: 0.7s;
}

.tarjetitas {
  display: flex;
  padding: 60px;
  gap: 50px;
}

.tarjetita {
  background-color: rgb(97, 95, 95);
  border-radius: 30px;
  overflow: hidden;
  flex-direction: column;
  gap: 20px;
}
.tarjetita__imagen {
  max-width: 100%;
}
.tarjetita__informacion {
  padding: 10px 20px 20px;
}
.tarjetita__boton a {
  margin: 20px;
  text-decoration: none;
  color: black;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  background-color: rgb(27, 26, 26);
  color: white;
  text-align: center;
  padding: 10px;
}
.footer__iconos {
  color: white;
  padding: 5px;
}

p {
  margin-bottom: 30px;
}

.grid-padre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.hijo {
  margin: 40px 0px;
}
.hijo img {
  max-width: 400px;
  max-width: 100%;
}

.boton {
  margin-top: 20px;
  text-decoration: none;
  background: black;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.boton:hover {
  background-color: rgb(90, 87, 87);
}

.body {
  padding: 1rem;
}

.main-promo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
}
article img {
  order: -1;
  align-self: center;
  max-width: 400px;
  max-width: 100%;
}
article button {
  margin-top: auto;
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
article button:hover {
  color: gray;
}

/*Index*/
@media (max-width: 768px) {
  .tarjetitas {
    display: flex;
    flex-direction: column;
  }
  .tarjetita {
    flex: 1;
  }
  /*Productos*/
  .grid-padre {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 1rem;
  }
  /*Promos*/
  .main-promo {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 4rem;
  }
}
/*Contacto*/
@media (max-width: 768px) {
  form {
    width: 100%;
  }
}
/*Como comprar*/
@media (max-width: 576px) {
  .como-comprar {
    margin-left: 10px;
  }
}
/*ESTILO CSS DE CONTACTO*/
.body-contacto {
  background-image: url("../Imagenes/fondo-contacto.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.contacto {
  height: 80vh;
  margin-top: 60px;
  margin-bottom: 60px;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 20px;
  margin-top: 10px;
  border-radius: 20px;
}
form input,
form textarea {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 17px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: #31384a;
  color: white;
  padding: 20px;
  border: none;
}
#boton:hover {
  color: rgb(0, 255, 94);
}

/*ESTILO CSS DE COMO COMPRAR*/
.como-comprar {
  background-color: rgb(159, 159, 159);
  color: white;
  border: double rgb(153, 152, 152);
}

.accordion {
  padding: 40px;
}
.accordion .icono {
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
