/*ESTILO CSS DE COMO COMPRAR*/

.como-comprar {
  background-color: rgb(159, 159, 159);
  color: white;
  border: double rgb(153, 152, 152);
}

.accordion {
  padding: 40px;

  .icono {
    padding: 10px;
  }
}
